html{
    color: #000000;
    background-color: rgba(240, 163, 210, 1);
    background-image: url("wallpaperpurple.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: 'Delius', Helvetica, sans-serif ;
    font-style: normal;
    font-size: 1em;
      
}

a {
    color: rgb(22, 22, 22);
    text-decoration: none;
}

a:active {
    color: rgb(10, 136, 20);
}

a:visited {
    color: rgb(87, 8, 8);
}

a:hover {
    color: #000000;
    text-decoration: underline;
}

a::after {
    content: ' [link]';
    text-decoration: none;
    font-weight: normal;
    color: rgb(158, 134, 161);
}

#email::before {
    content: '✉ ';
    color: #000000;
}

#telefone::before {
    content: '☎ ';
    color: #000000;
}

.sessao-educacao {
    color: rgb(139, 8, 118);
}

.sessao-dados {
    color: rgb(139, 8, 118);
}

.sessao-experiencia {
    color: rgb(139, 8, 118);
}

.descricao-tarefa {
    color: rgb(72, 75, 75);
}

#table-estudo {
    color: rgb(139, 8, 118);
    font-size: 1em;
}

.periodo-estudo {
    color: rgb(72, 75, 75);
    font-weight: bold;
}

#teste-color {
    color: rgb(139, 8, 118);
}


@font-face {
    font-family: 'Delius';
	src: url('fonts/Delius-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
