html{
    color: #000000;
    background-color: rgba(240, 163, 210, 1);
    background-image: url("wallpaperpurple.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: 'Delius', Helvetica, sans-serif ;
    font-style: normal;
    font-size: 1em;
      
}

a:active {
    color: rgb(10, 136, 20);
}
a:visited {
    color: rgb(241, 17, 17);
}
html:hover {
    cursor: pointer;
}


@font-face {
    font-family: 'Delius';
	src: url('fonts/Delius-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
